In [ ]:
import pandas as pd
import numpy as np
import re
import plotly.express as px

In [ ]:
#loading the data and filling the bkank spot 
data = pd.read_excel('C://Users//ShalomHarari//Python//Arad//Arad project//data.xlsx')
data = data.iloc[:,:24]
data['תלונה'].fillna('0',inplace=True)
data['new']=0

data

In [10]:
#reorder the dates to 3 new column

#data['תאריך'] = data['תאריך'].astype('string')
data['day'] = 0
data['month'] = 0
data['year'] = 0
for i in range(len(data)):
    try:
        data.loc[i,'day'] = data.loc[i,'תאריך'].split('.')[0]
        data.loc[i,'month'] = data.loc[i,'תאריך'].split('.')[1]
        data.loc[i,'year'] = data.loc[i,'תאריך'].split('.')[2]
    except:
        continue
data

      שם פרטי      משפחה   גיל     תאריך        תלונה day month year
0         שקד      זכריה     7  01.01.12        פריחה  01    01   12
1          לב      ליבמן    46  01.01.12  כאבים בקיבה  01    01   12
2        יוסף  ארץ קדושה    72  01.01.12        הקאות  01    01   12
3       עדיאל        נגה     1  01.01.12          חום  01    01   12
4        אפרת       יוסף    29  01.01.12   קוצר נשימה  01    01   12
...       ...        ...   ...       ...          ...  ..   ...  ...
65647   פראדל       הידה  11 ח  31.12.21        שיעול  31    12   21
65648    חאלד    קשאחרה     18  31.12.21  קוצר נשימה   31    12   21
65649    מלאס     אביבקה    16  31.12.21     הקאות     31    12   21
65650    לילך      קליבר    47  31.12.21  קוצר נשימה   31    12   21
65651    זהבי        נדל   7 ח  31.12.21        חום    31    12   21

[65652 rows x 8 columns]

In [11]:
#importing the new smaller file for convenient work

data = data[['שם פרטי', ' משפחה', 'גיל','תאריך', 'תלונה','day','month','year']]
data.to_csv('dataorg.csv')

In [13]:
#sorting the data by year 

data['new']=0
data.loc[data['year'].str.contains('12|13|14|15|16|17|18|19|20|21', flags = re.I, regex = True,na=False), 'new']=1
data = data[data['new']==1]
data

      שם פרטי      משפחה   גיל     תאריך        תלונה day month year  new
0         שקד      זכריה     7  01.01.12        פריחה  01    01   12    1
1          לב      ליבמן    46  01.01.12  כאבים בקיבה  01    01   12    1
2        יוסף  ארץ קדושה    72  01.01.12        הקאות  01    01   12    1
3       עדיאל        נגה     1  01.01.12          חום  01    01   12    1
4        אפרת       יוסף    29  01.01.12   קוצר נשימה  01    01   12    1
...       ...        ...   ...       ...          ...  ..   ...  ...  ...
65647   פראדל       הידה  11 ח  31.12.21        שיעול  31    12   21    1
65648    חאלד    קשאחרה     18  31.12.21  קוצר נשימה   31    12   21    1
65649    מלאס     אביבקה    16  31.12.21     הקאות     31    12   21    1
65650    לילך      קליבר    47  31.12.21  קוצר נשימה   31    12   21    1
65651    זהבי        נדל   7 ח  31.12.21        חום    31    12   21    1

[65515 rows x 9 columns]

In [14]:
data = pd.read_excel('C://Users//ShalomHarari//Python//Arad//Arad project//Dataorg.xlsx')
data

,שם פרטי,משפחה,גיל,תאריך,תלונה,day,month,year
0,שקד,זכריה,7,2012-01-01 00:00:00,פריחה,1.0,1.0,12
1,לב,ליבמן,46,2012-01-01 00:00:00,כאבים בקיבה,1.0,1.0,12
2,יוסף,ארץ קדושה,72,2012-01-01 00:00:00,הקאות,1.0,1.0,12
3,עדיאל,נגה,1,2012-01-01 00:00:00,חום,1.0,1.0,12
4,אפרת,יוסף,29,2012-01-01 00:00:00,קוצר נשימה,1.0,1.0,12
...,...,...,...,...,...,...,...,...
65370,פראדל,הידה,11 ח,2021-12-31 00:00:00,שיעול,31.0,12.0,21
65371,חאלד,קשאחרה,18,2021-12-31 00:00:00,קוצר נשימה,31.0,12.0,21
65372,מלאס,אביבקה,16,2021-12-31 00:00:00,הקאות,31.0,12.0,21
65373,לילך,קליבר,47,2021-12-31 00:00:00,קוצר נשימה,31.0,12.0,21
65374,זהבי,נדל,7 ח,2021-12-31 00:00:00,חום,31.0,12.0,21

In [ ]:
#filling and replacing the data in column 

data['year']= data['year'].fillna(0).astype(int)
data.drop('Column1', inplace = True , axis =  1)

In [ ]:
#reorganizing the years for better use

lst = [12,13,14,15,16,17,18,19,20,21]
data.loc[0,'year'] in(lst)
data['new']=data.apply(lambda row : 1 if row['year'] in lst else 0 , axis = 1)
data

In [ ]:
#adding a new column with the years 
data = data[data['new']==1]
data.reset_index(inplace = True , drop = True)
data

In [ ]:
# drop the unnecessary 

data.drop('new', inplace = True , axis = 1)

In [ ]:
#import again

data.to_csv('adcani.csv')

In [ ]:
# oppening the new file 

data = pd.read_excel('C://Users//ShalomHarari//Desktop//Arad project//Dataorg.xlsx')
data

In [ ]:
# i organized all the complaint there are into six category using regeax keywords and organized them into one column called new 

data.loc[data['תלונה'].str.contains('חזה|לחץ|נשימה|שיעול|קוצר|נשמה|אסטמה|אסמה|קושי|קשיי|קושיי|אוויר|ריאות|אויר', flags = re.I, regex = True,na=False), 'new']='דרכי נשימה'
data.loc[data['תלונה'].str.contains('כאב|כואב|כאבי|כאבים ', flags = re.I, regex = True,na=False), 'new']='כאב'
data.loc[data['תלונה'].str.contains('עצירות|עציר|עצר|שיל|שילוש|שלש|שלשול|שילשול|שלשלוים|משלשל|שילשולי|הקאה|הקאות|מקיא|קיא', flags = re.I, regex = True,na=False), 'new']='שלשולים והקאות'
data.loc[data['תלונה'].str.contains('יד|רגל|עור|עצם|אצבע|גוף|זר|נפוח|נפיח|דם|דימום|מדמ|נשיכה|נשך|ננש|מכה|חתך|נחת|חבורה|נפל|נפיל|שבר|נקע|שריטה|חד|סכין|מע|חבלה|נחב|חבול|פצע|פצוע|כוויה|שרפ|נשרף|שורף|שפשו', flags = re.I, regex = True,na=False), 'new']='מכה'
data.loc[data['תלונה'].str.contains('פריחה|פרח|מגר|דלקת|גרד|הפרשות|מוגלה', flags = re.I, regex = True,na=False), 'new']='דלקות'
data.loc[data['תלונה'].str.contains('אף|אוזן|עין|גרון|לשון|לב|קיבה|כבד|מוח|שריר|תפוס|נתפס|צוואר|עורף|שינים|לשון|נרתיק|איבר', flags = re.I, regex = True,na=False), 'new']='איברים'
data.loc[data['תלונה'].str.contains('חום|חם|גבוה|צמרמורות|צמר|זיעה|גלי|קרה|רותח', flags = re.I, regex = True,na=False), 'new']='חום'
data['new'].fillna('אחר',inplace =True)
data

In [ ]:
#then i counted the value to see how muce data i lose 

data['new'].value_counts().sort_values(ascending=False)

In [ ]:
#the work was done by hear but for the next step of the research i splited the whole data to years and imported them to csv by year 

data['year']= data['year'].map(str)

data.loc[data['year'].str.contains('21', flags = re.I, regex = True,na=False), '1']=1
data = data[data['1']==1]
data.reset_index(inplace=True,drop=False)
data

In [ ]:
#data.iloc[10:50]
data['new'].value_counts().sort_values(ascending=False)